{% extends 'base.html' %}
{% block content %}
  <h2>About Us</h2>
  <div class="card">
    <h3>FREE GSM PH</h3>
    <p>We provide a simple and reliable SMS API service.</p>
    <p>Get credits, verify your identity, and send SMS messages to Philippine numbers.</p>
    <p>FREE GSM PH is a free API tool, we are maintaining our service by running an ads to the site.</p>
  </div>

  <div class="card">
    <h3>Features</h3>
    <ul style="color: var(--muted);">
      <li>Send SMS via API</li>
      <li>Receive SMS via API (comming soon)</li>
      <li>Credit-based system</li>
      <li>Daily claim limits (20 credits/day)</li>
      <li>Secure authentication</li>
      <li>API key support</li>
    </ul>
  </div>

  <div class="card">
    <h3>Contact</h3>
    <p class="hint">For support or inquiries, please contact us. </p>
    <p class="hint">Mail: aczontongao@gmail.com Phone: +639152264050</p>
    <a href="https://github.com/ragej4x" style="text-decoration: none;"><p class="hint">GitHub: https://github.com/ragej4x</p></a>
  </div>
{% endblock %}

